<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    /* for FOUC */
    html {
      display: none;
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ views }}/reset.css">
  <link rel="stylesheet" href="{{ nodeModules }}/@vscode/codicons/dist/codicon.css">
  <link rel="stylesheet" href="{{ views }}/common.css">
  <link rel="stylesheet" href="{{ views }}/sprites/style.css">
</head>

<body>
  <header>
    <h1>Latebit Sprite Editor</h1>
    <a href="#">Read the specification</a>
  </header>

  <div id="banner">
    <i class="rotate codicon codicon-loading"></i>
    <span class="message">Loading...</span>
  </div>

  <main hidden>
    <section id="editor">
      <div class="canvas-container">
        <canvas></canvas>
      </div>
      <div class="zoom">
        <button id="zoom-in" title="Zoom In" class="codicon codicon-zoom-in"></button>
        <button id="zoom-out" title="Zoom Out" class="codicon codicon-zoom-out"></button>
        <button id="zoom-reset" title="Zoom Reset" class="codicon codicon-screen-normal"></button>
      </div>
    </section>
    <aside>
      <form id="metadata">
        <h2>Metadata</h2>

        <label for="frames">Number of Frames</label>
        <input id="frames" type="number">

        <label for="width">Width</label>
        <input id="width" type="number">

        <label for="height">Height</label>
        <input id="height" type="number">

        <label for="slowdown">Slowdown</label>
        <input id="slowdown" type="number">
      </form>
      <form id="tools">
        <h2>Tools</h2>
        <fieldset id="toolbox">
          <input name="tool" type="radio" value="pencil" title="Pencil" class="tool codicon codicon-edit" checked>
          <input name="tool" type="radio" value="eraser" title="Eraser" class="tool codicon codicon-layout-panel">
          <input name="tool" type="radio" value="fill" title="Fill" class="tool codicon codicon-paintcan">
          <input name="tool" type="radio" value="picker" title="Color Picker" class="tool codicon codicon-symbol-color">
        </fieldset>
        <fieldset id="palette"></fieldset>
      </form>
      <form id="playback">
        <h2>Animation</h2>
        <fieldset>
          <button id="play" title="Play/Pause" class="codicon codicon-play" disabled></button>
          <button id="previous" title="Previous" class="codicon codicon-chevron-left" disabled></button>
          <button id="next" title="Next" class="codicon codicon-chevron-right" disabled></button>
        </fieldset>
        <span id="frame-counter"></span>
      </form>
    </aside>
  </main>

  <footer hidden>
    <h2>Timeline</h2>
    <div id="timeline"></div>
  </footer>

  <script>
    globalThis.viewType = "{{ viewType }}";
    globalThis.vscode = acquireVsCodeApi();
    Module = {
      canvas: document.getElementById('canvas'),
      locateFile: function (path) {
        return '{{ renderer }}/' + path;
      },
      onRuntimeInitialized: function () {
        // Load app only when the emscripten runtime is ready
        const script = document.createElement('script');
        script.src = '{{ views }}/sprites/app.js';
        script.type = 'module';
        document.body.appendChild(script);
      },
      print: function (...args) {
        const arg = args[0];
        if (typeof arg !== 'string') return;

        const message = arg.match('.*\] (.*)')?.[1]
        const command = arg.includes('ERROR') ? 'command:error' : 'command:info'
        vscode.postMessage({ type: command, payload: message })
      },
      printErr: function (...args) {
        vscode.postMessage({ type: 'command:error', payload: args[0] })
      }
    };
  </script>
  <style>
    /* for FOUC */
    html {
      display: unset;
    }
  </style>
  <script src="{{ renderer }}/renderer.js"></script>
</body>

</html>