#editor {
  flex: 3;
  text-align: center;

  canvas {
    background-color: white;
    background-image:
      linear-gradient(45deg, #ccc 25%, transparent 25%),
      linear-gradient(-45deg, #ccc 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #ccc 75%),
      linear-gradient(-45deg, transparent 75%, #ccc 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  }
}

aside {
  flex: 1;

  form {
    padding-bottom: var(--container-paddding);

    label {
      display: block;
      padding-top: var(--input-padding-vertical);
    }
  }

  #tools {

    input[type="radio"] {
      outline: 4px solid transparent;
      cursor: pointer;
      appearance: none;
      margin: 0;
    }

    #toolbox {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-flow: unset;

      .tool {
        font-size: 1.6rem;
        padding: 1rem 0;

        &:checked,
        &:focus {
          outline: none;
          color: var(--vscode-input-background);
          background-color: var(--vscode-input-foreground);
        }
      }
    }

    #palette {
      grid-template-columns: repeat(8, 1fr);
      grid-auto-flow: unset;

      .color {
        height: 24px;
        width: 24px;

        &:checked,
        &:focus {
          z-index: 1;
          /* copied from reset style for focus */
          outline-color: var(--vscode-focusBorder);
          outline-offset: -1px;
        }
      }
    }
  }

  #playback {
    #frame-counter {
      display: block;
      font-family: var(--vscode-editor-font-family);
      margin: 0 0.85rem;
      padding: 0.25rem;
      font-size: 1.5rem;
      text-align: center;
      background: var(--vscode-notifications-background);
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  max-width: 900px;

  #timeline {
    padding-top: var(--container-paddding);
    overflow-x: scroll;
    white-space: nowrap;

    .frame {
      margin: 0 4px;
      display: inline-block;
      padding: 8px;
      background: var(--vscode-input-background);
      border: 4px solid transparent;
      cursor: pointer;

      &.selected {
        border-color: var(--vscode-focusBorder);
      }

      span {
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 8px;
      }
    }
  }
}