#editor {
  flex: 3;
}

aside {
  flex: 1;

  form {
    padding-bottom: var(--container-paddding);

    label {
      display: block;
      padding-top: var(--input-padding-vertical);
    }
  }

  #playback fieldset {
    display: grid;
    grid-auto-flow: column;
    border: none;

    button {
      height: 48px;
      min-width: 48px;

      &#loop {
        background-color: transparent;
        color: var(--vscode-foreground);

        &[data-checked] {
          background-color: var(--vscode-editorMarkerNavigationError-background);
          color: var(--vscode-button-foreground);
        }
      }

    }
  }
}