#editor {
  flex: 3;
}

aside {
  flex: 1;

  form {
    padding-bottom: var(--container-paddding);

    label {
      display: block;
      padding-top: var(--input-padding-vertical);
    }
  }

  #playback {
    fieldset {
      display: grid;
      grid-auto-flow: column;
      border: none;

      button {
        height: 48px;
        min-width: 48px;
      }
    }

    #frame-counter {
      display: block;
      font-family: var(--vscode-editor-font-family);
      margin: 0 0.85rem;
      padding: 0.25rem;
      font-size: 1.5rem;
      text-align: center;
      background: var(--vscode-notifications-background);
    }
  }
}