<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    /* for FOUC */
    html {
      display: none;
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ views }}/reset.css">
  <link rel="stylesheet" href="{{ nodeModules }}/@vscode/codicons/dist/codicon.css">
  <link rel="stylesheet" href="{{ views }}/audio/style.css">
</head>

<body>
  <header>
    <h1>Latebit Tracker</h1>
    <a href="#">Read the specification</a>
    <section class="subtitle">
      <p>
        Change the metadata and the notes of the tracks to create a new audio track.
      </p>
      <p>
        When you are ready, click on the play button to listen to your creation.
      </p>
    </section>
  </header>

  <main>
    <section id="editor">
      <p>Loading...</p>
    </section>
    <aside>
      <form id="metadata">
        <h2>Metadata</h2>
        <label for="bpm">BPM</label>
        <input id="bpm" type="number" min="10" max="400" value="10">

        <label for="ticks">Ticks per beat</label>
        <input id="ticks" type="number" min="1" max="16" value="1">

        <label for="beats">Number of beats</label>
        <input id="beats" type="number" min="1" max="64" value="1">
      </form>
      <form id="playback">
        <h2>Playback</h2>
        <fieldset>
          <button id="play" title="Play/Pause" class="codicon codicon-play" disabled></button>
          <button id="stop" title="Stop" class="codicon codicon-debug-stop" disabled></button>
          <button id="loop" title="Toggle Loop" class="codicon codicon-sync-ignored" disabled></button>
        </fieldset>
      </form>
    </aside>
  </main>

  <script>
    Module = {
      locateFile: function (path) {
        return '{{ player }}/' + path;
      },
      onRuntimeInitialized: function () {
        // Load app only when the emscripten runtime is ready
        const script = document.createElement('script');
        script.src = '{{ views }}/audio/app.js';
        script.type = 'module';
        document.body.appendChild(script);
      },
      print: function (...args) {
        console.log(...args);
      },
      printErr: function (...args) {
        console.error(...args);
      }
    };
  </script>
  <style>
    /* for FOUC */
    html {
      display: unset;
    }
  </style>
  <script src="{{ player }}/player.js"></script>
</body>

</html>