<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    /* for FOUC */
    html {
      display: none;
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ views }}/reset.css">
  <link rel="stylesheet" href="{{ nodeModules }}/@vscode/codicons/dist/codicon.css">
  <link rel="stylesheet" href="{{ views }}/audio/style.css">
</head>

<body>
  <header>
    <h1>Latebit Tracker</h1>
    <a href="https://github.com/latebit/latebit-engine/blob/main/docs/specs/sid-v0.md">Read the specification</a>
    <section class="subtitle">
      <p>
        Change the metadata and the notes of the tracks to create a new audio track.
      </p>
      <p>
        When you are ready, click on the play button to listen to your creation.
      </p>
    </section>
  </header>

  <div id="banner">
    <i class="rotate codicon codicon-loading"></i>
    <span class="message">Loading...</span>
  </div>

  <main hidden>
    <section id="editor">
    </section>
    <aside>
      <form id="metadata">
        <h2>Metadata</h2>

        <label for="bpm">BPM</label>
        <input id="bpm" type="number" min="10" max="400" value="90">

        <label for="ticks">Ticks per beat</label>
        <input id="ticks" type="number" min="1" max="16" value="4">

        <label for="beats">Number of beats</label>
        <input id="beats" type="number" min="1" max="64" value="4">

        <label for="tracks">Number of tracks</label>
        <input id="tracks" type="number" min="1" max="3" value="3">
      </form>
      <form id="playback">
        <h2>Playback</h2>
        <fieldset>
          <button id="play" title="Play/Pause" class="codicon codicon-play" disabled></button>
          <button id="stop" title="Stop" class="codicon codicon-debug-stop" disabled></button>
          <button id="loop" title="Toggle Loop" class="codicon codicon-sync-ignored" disabled></button>
        </fieldset>
      </form>
    </aside>
  </main>

  <script>
    globalThis.viewType = "{{ viewType }}";
    globalThis.vscode = acquireVsCodeApi();
    Module = {
      locateFile: function (path) {
        return '{{ player }}/' + path;
      },
      onRuntimeInitialized: function () {
        // Load app only when the emscripten runtime is ready
        const script = document.createElement('script');
        script.src = '{{ views }}/audio/app.js';
        script.type = 'module';
        document.body.appendChild(script);
      },
      print: function (...args) {
        const arg = args[0];
        if (typeof arg !== 'string') return;

        const message = arg.match('.*\] (.*)')?.[1]
        const command = arg.includes('ERROR') ? 'command:error' : 'command:info'
        vscode.postMessage({ type: command, payload: message })
      },
      printErr: function (...args) {
        vscode.postMessage({ type: 'command:error', payload: args[0] })
      }
    };
  </script>
  <style>
    /* for FOUC */
    html {
      display: unset;
    }
  </style>
  <script src="{{ player }}/player.js"></script>
</body>

</html>