body {
  max-width: 900px;
  margin: 0 auto;
}

header {
  section.subtitle {
    padding: var(--container-paddding) 0;
  }
}

#editor {
  --input-height: calc(var(--vscode-editor-font-size) * 2);
  --input-width: 7ch;
  --delete-width: var(--input-height);
  --column-size: calc(var(--input-width) + var(--delete-width));
  --index-size: 4ch;
  --beat-gap: calc(var(--container-paddding) / 2);

  flex: 3;

  display: grid;
  gap: var(--container-paddding);
  grid-template-columns: var(--index-size) repeat(auto-fill, minmax(var(--column-size), 1fr));

  .beat {
    margin-top: var(--beat-gap);
    font-weight: bolder;
  }

  .cell {
    display: flex;

    &.beat {
      margin-top: var(--beat-gap);

      .input {
        font-weight: bolder;
      }
    }

    .delete {
      width: var(--input-height);
      background-color: var(--vscode-input-background);
      color: var(--vscode-input-background);
    }

    &:hover {
      .delete {
        color: var(--vscode-input-foreground);
      }
    }

    .input {
      font-family: monospace;
      height: var(--input-height);
      width: var(--input-width);
    }
  }

  .index {
    font-family: monospace;
    height: var(--input-height);
    text-align: right;
    padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  }
}

aside {
  flex: 1;

  form {
    padding-bottom: var(--container-paddding);
  }

  #playback fieldset {
    display: grid;
    grid-auto-flow: column;
    border: none;

    button {
      height: 48px;
      min-width: 48px;

      &#loop {
        background-color: transparent;

        &[data-checked] {
          background-color: var(--vscode-editorMarkerNavigationError-background);
        }
      }

    }
  }
}

main {
  display: flex;
  padding-top: var(--container-paddding);
}