#editor {
  --input-height: calc(var(--vscode-editor-font-size) * 2);
  --input-width: 7ch;
  --delete-width: var(--input-height);
  --column-size: calc(var(--input-width) + var(--delete-width));
  --index-size: 4ch;
  --beat-gap: calc(var(--container-paddding) / 2);

  flex: 3;

  display: grid;
  gap: var(--container-paddding);
  grid-template-columns: var(--index-size) repeat(auto-fill, var(--column-size));

  .beat {
    margin-top: var(--beat-gap);
    font-weight: bolder;
  }

  .cell {
    display: flex;

    &.beat {
      margin-top: var(--beat-gap);

      .input {
        font-weight: bolder;
      }
    }

    .delete {
      width: var(--input-height);
      background-color: var(--vscode-input-background);
      color: var(--vscode-input-background);
    }

    &:hover {
      .delete {
        color: var(--vscode-input-foreground);
      }
    }

    .input {
      font-size: var(--vscode-editor-font-size);
      font-family: var(--vscode-editor-font-family);
      height: var(--input-height);
      width: var(--input-width);
    }
  }

  .index {
    font-size: var(--vscode-editor-font-size);
    font-family: var(--vscode-editor-font-family);
    height: var(--input-height);
    text-align: right;
    padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  }
}

aside {
  flex: 1;

  form {
    padding-bottom: var(--container-paddding);

    fieldset {
      grid-auto-flow: column;
    }

    label {
      display: block;
      padding-top: var(--input-padding-vertical);
    }
  }

  #playback #loop {
    background-color: transparent;
    color: var(--vscode-foreground);

    &[data-checked] {
      background-color: var(--vscode-editorMarkerNavigationError-background);
      color: var(--vscode-button-foreground);
    }
  }
}